@using MNHS_RegSys.Models;
@*Start of Static Report*@
@foreach (DataFromDashboardDTO list in ViewBag.DataFromDashboard)
{
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="p-4" style="margin: 5px 5px 5px 5px; border: thin solid #2d2c2c; width: 1050px;
                        height: 100%; background-color: white;">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*End of Static Report*@ 